// Import custom palettes
@import 'styles/palettes/angular-ngrx-primary-palette';
@import 'styles/palettes/angular-ngrx-accent-palette';
@import 'styles/palettes/angular-ngrx-warn-palette';

$font: 'Open Sans', sans-serif; // our base fonts
$font-monospace: Monaco, monospace;

// Defines a custom typography config that overrides the Material variables
$custom-typography: mat-typography-config(
  $font-family:   quote($font), // SCSS needs quotes, known issue
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(28px, 36px, 500),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 500),
  $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Foreground palette for light themes.
$mat-light-theme-foreground: (
  base:              black,
  divider:           $black-12-opacity,
  dividers:          $black-12-opacity,
  disabled:          rgba(black, 0.38),
  disabled-button:   rgba(black, 0.38),
  disabled-text:     rgba(black, 0.38),
  hint-text:         rgba(black, 0.38),
  secondary-text:    rgba(black, 0.54),
  icon:              rgba(black, 0.57),
  icons:             rgba(black, 0.57),
  text:              rgba(black, 0.67),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$angular-ngrx-app-primary: mat-palette($angular-ngrx-primary-colors);
$angular-ngrx-app-accent: mat-palette($angular-ngrx-accent-colors);
$angular-ngrx-app-warn: mat-palette($angular-ngrx-warn-colors, 900);

// Create the theme object (a Sass map containing all of the palettes).
$angular-ngrx-app-theme: mat-light-theme($angular-ngrx-app-primary, $angular-ngrx-app-accent, $angular-ngrx-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-ngrx-app-theme);

// Import used variables - note that this must be bottom of this file
@import 'styles/variables';
